.hero .container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 15px;
}

.hero .box {
  position: relative;
  overflow: hidden;
  text-align: center;
  color:aliceblue;
  
}

.hero .box:nth-child(1) {
  grid-area: 1 / 1 / 3 / 5; 
}

.hero .box:nth-child(2){
  grid-area: 1 / 5 / 2 / 7;
}
.hero .box:nth-child(3){
  grid-area: 1 / 7 / 2 / 9; 
}
.hero .box:nth-child(4){
  grid-area: 2 / 5 / 3 / 7;
}
.hero .box:nth-child(5) {
  grid-area: 2 / 7 / 3 / 9;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
