footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  margin-top: 50px;
}
footer .container {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(4, 1);
  grid-gap: 30px;
}

footer h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

footer ul li {
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer ul li:nth-last-child(1) {
  border-bottom: none;
}
footer ul li span::before {
  content: ">";
  top: 0;
  left: 0;
  margin-right: 10px;
}
.legal {
  padding: 15px;
  background-color: #000;
  color: grey;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}
.legal i {
  color: red;
}
